spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/JournalEntries
    username: postgres
    password: 123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    org.springframework.transaction: TRACE
    org.hibernate.SQL: DEBUG
