spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/JournalEntries
    username: postgres
    password: 123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    root: INFO
    org.springframework.transaction: WARN
    org.hibernate.SQL: OFF
